@import url(https://fonts.googleapis?family=Nunito+Sans);

@import url(https://fonts.googleapis.com/css?family=Rubik);

@import url(https://fonts.googleapis.com/css?family=Sofia&effect=fire-animation);

html {

  line-height: 1.15;

  -ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;

}

* {

  text-align: center;

  font-family: "Nunito Sans", sans-serif, sofia;

}

body {

  margin: 0;

  padding: 0;

  font-size: 100%;

  line-height: 1;

  height: 100vh;

  display: flex;

  justify-content: center;

  flex-direction: column;

  align-items: center;

  color: #ffffff;

  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 113));

}

p,

h1,

h2,

h3,

h4,

h5,

h6 {

  text-align: center;

}

h1.sofia {

  font-family: "sofia";

}

h4.sofia {

  font-family: "sofia";

  text-shadow: 3px 3px 3px #474747;

}

.fa-clickable {

  cursor: pointer;

  outline: none;

}

i {

  margin-left: 5px;

}

a {

  text-decoration: none;

  color: #ffffff;

}

img {

  border-radius: 100%;

  border-color: tomato;

  vertical-align: middle;

  width: 290px;

  height: 290px;

  border-radius: 50%;

}

.responsive {

  width: 290px;

  max-width: 400px;

  height: auto;

}

